<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="es.project.framework.video_test"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="es.lombrinus.projects.mods.videos.EasyVideoActivity"
            android:configChanges="orientation|screenSize"
            />

        <activity android:name=".VideoActivity"/>

        <activity
            android:name="es.lombrinus.projects.mods.videos.dailymotion.DailymotionVideoActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.DailymotionPlayer"/>

    </application>

</manifest>
